body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    min-height: 100vh;
    background-color: #355ecb;
    background-color: #fff
}

.wraperr-rjkrrkrk {
    width: 100%;
    height: 100%
}

#root {
    --main-bg-side-dark: #212529;
    --main-bg-pagebox-dark: #000;
    --main-bg-box-dark: #2d3136;
    --main-bg-box-item-dark: #2a2e32;
    --text-dark: #fff;
    --main-bg-cool-rgb-dark: hsla(0,0%,100%,0.2);
    --main-bg-pagebox-white: #f7f6fb;
    --main-bg-box-item-white: #f7f6fb;
    --main-bg-box-white: #f7f6fb;
    --main-bg--side-white: #fff;
    --text-light: #191919;
    --main-bg-cool-rgb-white: rgba(0,0,0,0.2)
}

[color-scheme=dark] {
    --main-bg-side: var(--main-bg-side-dark);
    --text: var(--text-dark);
    --main-bg-box: var(--main-bg-box-dark);
    --main-bg-box-item: var(--main-bg-box-item-dark);
    --main-bg-cool-rgb: var(--main-bg-cool-rgb-dark);
    --main-bg-pagebox: var(--main-bg-pagebox-dark)
}

[color-scheme=light] {
    --main-bg-side: var(--main-bg--side-white);
    --text: var(--text-light);
    --main-bg-box: var(--main-bg-box-white);
    --main-bg-box-item: var(--main-bg-box-item-white);
    --main-bg-cool-rgb: var(--main-bg-cool-rgb-white);
    --main-bg-pagebox: var(--main-bg-pagebox-white)
}

.wraperr-rjkrrkrk img {
    width: 100%
}

#root {
    background: var(--main-bg-pagebox)
}

.table-rotttw {
    height: 50px;
    font-weight: 600;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 23px
}

.fieok {
    padding-left: 10px
}

.fieok div div {
    min-width: 35px;
    max-width: 35px;
    height: 30px;
    font-size: 20px
}

.fieok div span {
    font-size: 13px
}

.fieok div {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 5px
}

.wrajffj {
    max-width: 250px;
    width: 100%;
    grid-template-columns: repeat(auto-fill,minmax(50px,250px))
}

.fnesknro {
    margin-bottom: 10px;
    color: var(--text);
    border-bottom: 1px solid var(--main-bg-cool-rgb)
}

.fjdkjf {
    display: -webkit-flex;
    display: flex;
    padding: 10px
}

.bannenenrn {
    height: 60px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.bannenenrn,.bxo {
    display: -webkit-flex;
    display: flex;
    width: 100%
}

.bxo {
    height: 100%;
    border-radius: 50%
}

.bxo,.selxfrir {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.selxfrir {
    border: 1px solid rgba(0,0,0,.2);
    min-width: 25px;
    max-width: 25px;
    height: 25px;
    font-size: 15px;
    border-radius: 50%
}

.selxfrir,.wsfbsf--ffhr {
    display: -webkit-flex;
    display: flex
}

.wsfbsf--ffhr {
    min-height: 50px;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
    font-weight: 600;
    color: var(--text)
}

.sbbd-imsn-n {
    display: -webkit-flex;
    display: flex
}

.bloxfjhj,.vsbeb {
    font-weight: 600;
    color: #239b56
}

.fjejnr {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border-top: 1px solid var(--main-bg-cool-rgb);
    border-bottom: 1px solid var(--main-bg-cool-rgb)
}

.fjejnr,.titrler {
    color: var(--text)
}

.titrler {
    margin-top: 5px
}

.wsxvh--eje {
    padding: 10px;
    width: calc(100% - 250px)
}

.fhehf {
    height: 50px;
    width: 100%;
    color: var(--text);
    border-bottom: 1px solid var(--main-bg-cool-rgb)
}

.fhehf,.fhehf div {
    display: -webkit-flex;
    display: flex
}

.fhehf div {
    width: 30px;
    font-size: 25px;
    height: 40px;
    -webkit-align-items: center;
    align-items: center
}

.sjbfjr {
    width: 50%;
    margin: 5px
}

.sjbfjr img {
    width: 100%;
    display: block
}

.popenkjdejje {
    position: fixed;
    z-index: 100000;
    top: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.boxjxjx {
    width: 95%;
    max-width: 800px;
    background-color: var(--main-bg-box);
    height: 95%;
    -webkit-flex-direction: column;
    flex-direction: column;
    overflow: scroll;
    display: -webkit-flex;
    display: flex;
    box-shadow: 0 0 10px var(--main-bg-cool-rgb);
    max-height: 600px;
    padding: 10px
}

.wrarjrri {
    position: relative;
    display: grid;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill,minmax(50px,250px))
}

.iconcfj:before {
    content: "";
    padding-top: 100%;
    display: block
}

.iconcfj {
    position: relative;
    width: 100%
}

.iconcfj img {
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 50%;
    height: 100%;
    object-position: center top;
    object-fit: cover
}

.fnnbf {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    position: relative;
    top: 20px;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.boxnfej span {
    color: #41b981;
    font-weight: 600
}

.boxnfej {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.boxnfj.ffjkrj {
    color: #1d8348;
    font-size: 30px
}

.boxnfj {
    width: 50px;
    height: 50px;
    font-size: 20px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    justify-self: center
}

.irlejrw {
    font-weight: bolder;
    font-size: 25px
}

.irlejrrw,.irlejrw {
    width: 100%;
    margin-top: 10px
}

.table-row {
    min-height: 40px;
    display: -webkit-flex;
    display: flex
}

.table-row div:nth-child(2) {
    padding: 10px
}

.table-row div:first-child {
    padding: 10px;
    background-color: var(--main-bg-cool-rgb);
    max-width: 50%;
    font-size: 15px;
    width: 100%;
    min-height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.iconcrfj:before {
    content: "";
    display: block;
    padding-top: 100%
}

.iconcrfj {
    display: block;
    width: 100%;
    position: relative
}

.iconcrfj img {
    width: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
    border-radius: 50%;
    height: 100%
}

.ffhshhfh {
    width: 100%;
    margin-top: 20px;
    line-height: 25px;
    font-weight: 500;
    overflow-wrap: break-word
}

.box-people {
    color: var(--text);
    display: -webkit-flex;
    display: flex
}

.App,.box-people {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center
}

.App {
    display: block;
    width: 100%;
    max-width: 3000px;
    margin: 0 auto
}

.button-exporrt div {
    font-size: 30px;
    margin: 5px;
    color: #27ae60
}

.button-exporrt {
    width: 100%;
    height: 60px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.button-exporrt button {
    width: 260px;
    height: 90px;
    border-radius: 10px;
    font-size: 40px;
    background-color: transparent;
    border: 1px solid #27ae60;
    color: #27ae60
}

.button-exporrt button,.idhgijkgjg {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-weight: 600
}

.idhgijkgjg {
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column
}

.idhgijkgjg div:nth-child(2) {
    font-size: 60px!important
}

.idhgijkgjg div:first-child {
    font-size: 30px!important
}

.fnjerrk {
    color: #27ae60;
    width: 50px;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    font-size: 30px
}

.rnjenwrjj3j {
    width: 100%;
    height: 100%
}

.holf-the-chart {
    height: 500px;
    width: 50%
}

.homs-homkro-fjrf {
    width: 50%;
    padding: 10px
}

.titl-tjeteee {
    background-color: #f1f1f1
}

.titl-tjetee,.titl-tjeteee {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10000000;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    color: #fff
}

.hoskns-fhosjr {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.hsofnkrkrjkr {
    min-height: 50px
}

.nakmee {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: #aaa;
    font-weight: 600
}

.hoskns-fhosjr button {
    padding: 10px;
    background-color: #27ae60;
    margin: 5px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-weight: 600
}

.dsif {
    height: 200px;
    width: 100%;
    margin-bottom: 20px
}

.dsif img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.ho-hfomfk0-boxbjfjfjjf {
    width: 400px
}

.clai-hoxnf-irsojr-djns {
    display: -webkit-flex;
    display: flex;
    width: 100%
}

.bokd0-onjdf {
    width: calc(100% - 400px)
}

.wrapriro {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    padding: 5px
}

.titltkroeke img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px
}

.titltkroeke p {
    text-transform: capitalize
}

.fjejntj {
    text-transform: uppercase!important;
    margin-left: 5px
}

.titltkroeke {
    font-size: 30px;
    font-weight: 600;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.rangeeokor {
    margin-top: 40px
}

.labeleee {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 15px
}

.incokjjjf,.infojs-fjfj,.labeleee {
    font-weight: 600
}

.incokjjjf {
    color: #aaa
}

.tshjrr {
    border-bottom: 1px solid #aaa;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 50px
}

.labeleee div,.tshjrr {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.labeleee div {
    height: 30px
}

.ramfhejrj-fjf {
    height: 10px;
    position: relative;
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--main-bg-cool-rgb)
}

.barrr {
    width: 60%;
    background: linear-gradient(#f4d03f,#27ae60);
    height: 100%
}

.fjenf {
    border: 1px solid rgba(0,0,0,.5);
    height: 35px;
    margin: 2px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.hoks-the-box {
    font-size: 30px;
    font-weight: 600;
    margin-top: 5px
}

.hoks0--smaol-toks {
    font-size: 14px
}

.fjekn {
    display: -webkit-inline-flex;
    display: inline-flex
}

.fhjemn p {
    margin-left: 5px
}

.fhjemn {
    background-color: var(--main-bg-cool-rgb);
    border-radius: 4px;
    height: 35px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    margin-left: 10px;
    padding: 10px;
    font-weight: 600
}

.cljgkjf,.fhjemn {
    -webkit-align-items: center;
    align-items: center
}

.cljgkjf {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
    height: 50px
}

.fjrjrj {
    width: 90px;
    height: 35px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #191919;
    color: #fff;
    font-weight: 600
}

.bild-0the-winfos {
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    max-width: 1500px;
    z-index: 10000000000000;
    -webkit-transform: translate(-50% -50%);
    transform: translate(-50% -50%);
    width: 95%;
    height: 100vh;
    max-height: 800px;
    overflow: scroll;
    background-color: #f1f1f1;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5)
}

.bild-0the-winfos.active {
    display: block
}

.chat-boxnfkr {
    width: 400px;
    height: 100vh;
    max-height: 800px;
    border-radius: 10px;
    background-color: var(--main-bg-box);
    z-index: 1;
    display: none;
    box-shadow: 0 0 10px rgba(0,0,0,.5)
}

.chat-boxnfkr.active {
    display: block
}

.bublre {
    width: 100px;
    height: 100px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    color: #fff!important;
    background-color: #28b463;
    position: absolute;
    bottom: 0
}

.bublre,.efgshjk {
    display: -webkit-flex;
    display: flex
}

.efgshjk {
    position: fixed;
    bottom: 10px;
    right: 10px;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-flex-direction: column;
    flex-direction: column;
    z-index: 10000000000000000
}

.djsnf {
    width: 130px;
    height: 50px;
    display: block;
    display: -webkit-flex;
    display: flex;
    padding-left: 10px;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 20px;
    font-weight: 600
}

.hold-thenewstjej {
    padding-left: 10px;
    width: calc(100% - 250px)
}

::-webkit-input-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}

::placeholder {
    color: #fff
}

.firat-boxnf {
    display: -webkit-flex;
    display: flex
}

.holf-sight-upt button {
    font-size: 20px
}

.holf-sight-upt {
    width: 140px
}

.fnjek {
    width: 50px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    color: #27ae60;
    font-weight: 600
}

.fnjek,.hat-sjjjjkgjtj {
    display: -webkit-flex;
    display: flex
}

.hat-sjjjjkgjtj {
    position: relative;
    width: 100%;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    height: calc(100% - 110px)
}

.hat-sjjjjkgjtj img {
    width: 100%;
    height: 100%;
    object-fit: contain
}

.hold-the-chatpr {
    width: 95%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 30px;
    border: 1px solid hsla(0,0%,100%,.8);
    margin: 0 auto
}

.chat0inpour {
    width: 100%
}

.hold-the-chatpr input {
    height: 40px;
    padding: 20px;
    width: 100%;
    outline: none;
    background-color: var(--main-bg-cool-rgb);
    border: 0;
    color: var(--text);
    border-radius: 30px
}

.hat-jtjt {
    width: 100%;
    margin-top: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end
}

.iocjkfkr {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%
}

.fhjdiksfjk {
    padding: 10px;
    color: #fff;
    max-width: 300px;
    border: 1px solid hsla(0,0%,100%,.9);
    border-radius: 30px;
    margin: 10px 2px 2px 10px
}

.hoks-fjrj div {
    padding: 15px;
    color: #fff;
    max-width: 300px;
    background-color: hsla(0,0%,100%,.1);
    border-radius: 30px;
    margin: 2px
}

.hoks-fjrj {
    position: relative
}

.holf-sight-upt button {
    width: 100%;
    margin-right: 5px;
    height: 38px;
    background-color: #4169e1;
    border: 0;
    color: #fff;
    font-weight: 600;
    border-radius: 5px
}

.wrapeer-shtejophfjj {
    width: calc(100% - 600px);
    height: 70px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    -webkit-align-items: center;
    align-items: center;
    display: -webkit-inline-flex;
    display: inline-flex
}

.hosnfjn {
    position: relative;
    padding-top: 10px;
    width: 100%
}

.jolshjfkrj {
    position: absolute;
    width: 200px;
    border-radius: 5px;
    background-color: var(--main-bg-box);
    top: 0;
    opacity: 0;
    transition: .1s ease;
    z-index: 10000000000000000;
    box-shadow: 0 0 10px rgba(0,0,0,.5)
}

.holsn-the-shkks {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.holsn-the-shkks a {
    color: var(--text);
    text-decoration: none
}

.sjoforjek {
    position: relative;
    cursor: pointer;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-height: 35px;
    max-height: 35px;
    overflow: hidden
}

.fjekj,.sjoforjek {
    -webkit-align-items: center;
    align-items: center
}

.fjekj {
    display: -webkit-flex;
    display: flex;
    width: 500px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.sjoforjek:hover {
    overflow: visible;
    overflow: initial
}

.holf-sight-up button {
    width: 100%;
    background-color: #4169e1;
    border: 0;
    color: #fff;
    font-weight: 600;
    border-radius: 3px
}

.holf-sight-up {
    width: 100px;
    height: 38px;
    margin-right: 5px
}

.holf-sight-up,.holss-fimnd {
    display: -webkit-flex;
    display: flex
}

.holss-fimnd {
    background-color: var(--main-bg-cool-rgb);
    height: 40px;
    width: 100%;
    max-width: 400px;
    border-radius: 30px;
    margin: 15px auto
}

.follow-box {
    width: 100%
}

.follow-box button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 0;
    font-size: 20px;
    color: #fff;
    background-color: #41b981
}

.cjfjnrhbrb .wrpathe-filter-rjrke {
    position: relative!important
}

.cjfjnrhbrb p {
    -webkit-justify-content: center;
    justify-content: center
}

.cjfjnrhbrb,.cjfjnrhbrb p {
    -webkit-align-items: center;
    align-items: center
}

.cjfjnrhbrb {
    position: relative;
    display: -webkit-flex;
    display: flex;
    width: 100%
}

.holss-fimnd input {
    width: calc(100% - 40px);
    background-color: transparent;
    border: 0;
    color: var(--text);
    font-size: 15px;
    outline: none
}

.holt-hosjrrkr {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    height: 38px;
    font-weight: 600;
    padding: 3px;
    width: 200px;
    color: #fff;
    border-radius: 5px;
    background-color: #239b56;
    -webkit-justify-content: center;
    justify-content: center
}

.holt-hosjrrkr img {
    width: 30px;
    height: 30px;
    margin: 4px;
    object-fit: contain
}

::-webkit-scrollbar {
    display: none
}

.jrjjjr a {
    color: #fff
}

.jrjjjr img {
    width: 30px;
    height: 30px;
    object-fit: cover
}

.jrjjjr {
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px
}

.sjoforjek:hover .jolshjfkrj {
    opacity: 1
}

.wifjrkr {
    min-height: 40px;
    color: var(--text);
    text-decoration: none;
    padding: 10px;
    -webkit-justify-content: center;
    justify-content: center;
    font-weight: 600
}

.hold0the-box-thsrhr,.wifjrkr {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.hold0the-box-thsrhr {
    height: 70px;
    overflow: scroll
}

.hold0the-box-thsrhr.box {
    width: calc(100% - 250px)
}

.hold0the-box-thsrhr button {
    min-width: 150px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    margin-left: 20px;
    background-color: var(--main-bg-cool-rgb);
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: var(--text)
}

.hold0the-box-thsrhr button.active {
    color: #3498db;
    background-color: transparent;
    border: 1px solid #3498db
}

.fountett {
    min-height: 100px;
    display: -webkit-flex;
    display: flex;
    padding: 20px;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.socilameid-bar .rfjketnr {
    color: #58667e;
    font-size: 25px!important
}

.socilameid-bar {
    min-height: 70px;
    width: 100%;
    border-top: 1px solid var(--main-bg-cool-rgb);
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.button-nsnnr,.socilameid-bar {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.button-nsnnr {
    height: 50px
}

.fountett div {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #58667e
}

.button-nsnnrr {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center
}

.button-nsnnrr button {
    width: 95%;
    height: 40px;
    font-size: 20px;
    color: #191919;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgba(0,0,0,.1)
}

.bold-theiconrr3d {
    display: none
}

.button-nsnnr button {
    border: 0;
    border-radius: 5px;
    background-color: #3861fb
}

.button-nsnnr button,.holt-hosjrkr {
    width: 95%;
    height: 40px;
    font-size: 20px;
    color: #fff;
    font-weight: 600
}

.holt-hosjrkr {
    display: -webkit-flex;
    display: flex;
    border-radius: 5px;
    background-color: #1d8348;
    -webkit-justify-content: center;
    justify-content: center;
    margin: 60px auto 0;
    -webkit-align-items: center;
    align-items: center;
    padding: 5px
}

.holt-hosjrkr img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 5px
}

.jikmgkdf {
    display: -webkit-flex;
    display: flex;
    height: 50px
}

.rfjketnr {
    width: 40px;
    height: 40px;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px
}

.rfjketnr,.rjentr {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.rjentr {
    font-weight: 600
}

.fjejr {
    position: relative;
    display: block;
    z-index: 10000000000000000;
    display: -webkit-flex;
    display: flex;
    width: 200px
}

.liasrt img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-left: 2px;
    margin-right: 2px
}

.tj3eot img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.tj3eot {
    width: 30px;
    height: 30px;
    margin-right: 10px
}

.fkme {
    opacity: 0;
    margin-top: 5px;
    transition: .1s ease;
    background-color: #fff
}

.tttrtgrg {
    max-width: 220px;
    position: relative;
    display: block;
    cursor: pointer;
    margin-top: 15px;
    overflow: hidden;
    transition: .2s ease;
    max-height: 50px;
    z-index: 1000000000000000
}

.tttrtgrg.active .fkme {
    border-radius: 5px;
    opacity: 1;
    box-shadow: 0 0 5px rgba(0,0,0,.2)
}

.tttrtgrg.active {
    max-height: 500px;
    overflow: visible;
    overflow: initial;
    z-index: 1000000000
}

.jdjggj {
    width: 50px;
    z-index: 10000;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px;
    color: #2ecc71
}

.ekjkrn,.jdjggj {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.ekjkrn {
    position: relative;
    width: 100%;
    font-weight: 600;
    padding-left: 10px;
    z-index: 100000000000000
}

.ekjkrn a {
    color: #191919;
    text-decoration: none
}

.tekktkr {
    min-width: 200px;
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding-left: 10px;
    -webkit-align-items: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600
}

.tttrtgrg.active .tekktkr {
    color: #2e86c1
}

.playjff {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    top: 0;
    color: #fff;
    position: absolute;
    height: 100%
}

.iconfjdn-holfmnf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px
}

.bnd-iofnn {
    display: -webkit-inline-flex;
    display: inline-flex;
    padding-left: 10px;
    height: 50px;
    width: 100%;
    font-weight: 600;
    overflow: scroll;
    border-bottom: 1px solid var(--main-bg-cool-rgb);
    white-space: nowrap
}

.bnd-iofnn,.hjehrjfnnf {
    -webkit-align-items: center;
    align-items: center
}

.hjehrjfnnf {
    width: 50px;
    height: 100%;
    color: var(--text);
    display: -webkit-flex;
    display: flex;
    font-size: 25px;
    -webkit-justify-content: center;
    justify-content: center
}

.ejjrjekk p {
    margin-left: 10px
}

.ejjrjekk p:first-child {
    color: #aaa;
    text-transform: capitalize
}

.ejjrjekk p:nth-child(2) {
    color: #3498db;
    font-weight: 600;
    text-transform: capitalize;
    margin-left: 5px
}

.ejjrjekk p:nth-child(3),.ejjrjekk p:nth-child(4),.ejjrjekk p:nth-child(5) {
    color: #3498db
}

.ejjrjekk {
    display: -webkit-flex;
    display: flex;
    margin-right: 10px
}

.iconfjdn-holfmnf {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 5px
}

.bolx-hold-jrjir p {
    font-weight: 600;
    font-size: 16px;
    color: var(--text)
}

.bolx-hold-jrjir p:nth-child(2) {
    color: #aaa
}

.tjgjrtn {
    position: relative;
    display: block;
    z-index: 100000
}

.bolx-hold-jrjir {
    width: 200px;
    height: 70px;
    padding-left: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.backdroudnf-efnn {
    position: fixed;
    width: 100%;
    height: 100vh
}

.container-holsj.up .bolx-hold-jrjir p {
    font-size: 21px!important
}

.live_data {
    width: 100%;
    left: 0;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    color: red
}

.container-holsj.up,.live_data {
    -webkit-justify-content: center;
    justify-content: center
}

.container-holsj {
    position: relative;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    padding-left: 10px;
    overflow: scroll;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--main-bg-cool-rgb)
}

.card-sfbgif,.container-holsj {
    -webkit-align-items: center;
    align-items: center
}

.card-sfbgif {
    z-index: -1;
    padding: 20px;
    border-radius: 5px;
    margin-right: 10px;
    min-height: 130px;
    background-color: var(--main-bg-box);
    display: -webkit-inline-flex;
    display: inline-flex;
    box-shadow: 0 0 10px var(--main-bg-cool-rgb)
}

.tn-efnnkfkfnek {
    color: var(--text);
    height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 40px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px
}

.newsfth span {
    margin-left: 30px
}

.newsfth {
    white-space: nowrap;
    width: 100%;
    overflow: scroll
}

.newsfth p {
    position: relative;
    display: block;
    width: 100%;
    -webkit-transform: .1s ease;
    transform: .1s ease;
    -webkit-animation: pulse 40s infinite;
    animation: pulse 40s infinite
}

@-webkit-keyframes pulse {
    0% {
        right: -100%
    }

    to {
        right: 200%
    }
}

@keyframes pulse {
    0% {
        right: -100%
    }

    to {
        right: 200%
    }
}

.enenj {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    height: 17px;
    font-weight: 600;
    overflow: scroll;
    color: #4169e1
}

.numbsf-rbrnrh {
    min-width: 50px;
    height: 50px;
    -webkit-align-items: center;
    align-items: center
}

.hold-icon,.numbsf-rbrnrh {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.hold-icon {
    width: 30px;
    padding-top: 2px;
    font-size: 20px;
    height: 20px
}

.wrpskroowrjkw {
    display: block;
    position: relative;
    overflow: scroll;
    width: 100%
}

.bold-theicon3d {
    width: 30px;
    height: 30px;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%
}

.bold-theicon3d,.rhjrjr-headf {
    display: -webkit-flex;
    display: flex
}

.rhjrjr-headf {
    height: 50px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: var(--text)
}

.hanmber-snjr {
    width: 50px;
    height: 100%;
    background-color: transparent;
    border: 0;
    font-size: 30px;
    display: none
}

.fhrekhee-conb {
    margin: 0 auto;
    width: 70%
}

.bcjjtitiit button,.fhrekhee-conb {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around
}

.bcjjtitiit button {
    width: 120px;
    height: 40px;
    background-color: hsla(0,0%,100%,.2);
    border: 0;
    color: var(--text);
    -webkit-align-items: center;
    align-items: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    margin: 5px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600
}

.bcjjtitiit,.bcjjtitiit div {
    display: -webkit-flex;
    display: flex
}

.bcjjtitiit {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: scroll
}

.rrjrj.ffe {
    color: #f1c40f
}

.rrrej {
    position: relative;
    font-size: 15px;
    width: 15px;
    height: 15px;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    color: #2ecc71
}

.rrj,.rrrej {
    display: -webkit-flex;
    display: flex
}

.rrj {
    width: 50px;
    -webkit-justify-content: center;
    justify-content: center;
    height: 40px;
    padding-top: 10px
}

.rrj,.rrjrj {
    -webkit-align-items: center;
    align-items: center
}

.rrjrj {
    position: relative;
    padding: 10px;
    min-height: 100%;
    min-width: 100px;
    font-size: 15px;
    font-weight: 700;
    display: -webkit-inline-flex;
    display: inline-flex
}

.wririiroro button:hover {
    background-color: rgba(0,0,0,.5)
}

.wririiroro button {
    width: 40px;
    width: 100px;
    position: relative;
    right: 0;
    background-color: transparent;
    color: #21618c;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid hsla(0,0%,100%,.1)
}

.wririiroro {
    position: relative;
    height: 50px;
    right: 0;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    width: 100vw;
    margin: 0 auto 40px
}

.direcio-back,.wririiroro {
    display: -webkit-flex;
    display: flex
}

.direcio-back {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    color: #fff;
    font-size: 20px
}

.direcio-back.left {
    left: 10px
}

.direcio-back.rigth {
    right: 10px
}

.hold-tnt-hederdrrr {
    position: relative;
    height: 60px;
    z-index: 100000;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    color: var(--text);
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.wrasprjtj {
    display: -webkit-inline-flex;
    display: inline-flex
}

.wrpartj button.active {
    background-color: var(--main-bg-cool-rgb)
}

.wrpartj button {
    border-radius: 30px;
    width: 50px;
    height: 100%;
    border: 0;
    cursor: pointer;
    color: var(--text);
    background-color: transparent
}

.jgjjuuguugu {
    height: 40px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    padding-right: 10px
}

.wrpartj {
    padding: 3px;
    width: 100px;
    background-color: rgba(0,0,0,.2);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px)
}

.hrhhr,.wrpartj {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 30px
}

.hrhhr {
    width: 30px;
    color: #2ecc71
}

.nam4jrjrj.gkejlrfrf {
    font-size: 30px
}

.gkejlrfrf img {
    width: 275px;
    margin: 5px;
    object-fit: cover
}

.nam4jrjrj {
    position: relative;
    margin: 10px;
    font-weight: 700;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.wrisfjtnj-53i {
    display: block;
    padding-bottom: 10px
}

.titler {
    min-height: 70px;
    font-size: 30px;
    display: -webkit-flex;
    display: flex;
    font-weight: 600;
    padding: 20px
}

.titler,.wraperjkjrjrkk {
    -webkit-align-items: center;
    align-items: center
}

.wraperjkjrjrkk {
    width: 100%
}

.wrparr-thstjtj.active {
    display: grid;
    grid-template-columns: repeat(5,minmax(250px,1fr));
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px
}

.wrparr-thstjtj.active .rfhejw {
    -webkit-justify-content: center;
    justify-content: center
}

.wrparr-thstjtj.active .wreth {
    display: none
}

.wrparr-thstjtj.active .wrerjrth {
    width: 100%;
    margin-top: 5px;
    display: -webkit-flex;
    display: flex
}

.wrerjrth button {
    width: 50%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: 0;
    font-weight: 600;
    color: #fff
}

.wrerjrth button:first-child {
    background-color: #27ae60
}

.wrerjrth button:nth-child(2) {
    background-color: #90ee90
}

.wrparr-thstjtj.active .bold-theiconrr3d {
    display: -webkit-flex;
    display: flex;
    position: absolute;
    left: 0;
    font-size: 17px;
    margin-top: 15px;
    margin-left: 20px
}

.wrparr-thstjtj.active .numbsf-rbrnrh {
    width: 100%;
    padding-right: 20px;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    font-size: 20px
}

.fjesjr {
    padding-left: 20px;
    font-size: 20px;
    color: var(--text);
    font-weight: 600
}

.backrj,.fjesjr {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.backrj {
    width: 50px;
    -webkit-justify-content: center;
    justify-content: center;
    color: #191919
}

.wrpwr-boxnrj {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    height: 90px;
    color: var(--text);
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px solid var(--main-bg-cool-rgb);
    transition: all .3s ease
}

.wrpwr-boxnrj.active {
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 5px;
    max-width: 250px;
    height: 300px;
    overflow: visible;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: var(--main-bg-cool-rgb);
    border-bottom: none;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px)
}

.wrpwr-boxnrj.active .numbsf-rbrn {
    display: none
}

.wrpwr-boxnrj.active .numbsf-rbrn-name {
    position: relative;
    -webkit-justify-content: center;
    justify-content: center;
    height: 30px;
    top: -15px
}

.wrpwr-boxnrj.active .numbsf-rbrn-price,.wrpwr-boxnrj.active .numbsf-rbrn-price-vjf {
    display: none
}

.rjrjjr {
    max-width: 200px!important
}

.wrpwr-boxnrj.active .rjrjjr {
    display: block;
    width: 100%;
    max-height: 100px!important;
    color: #fafafa
}

.hisdghrjrr {
    display: none
}

.rjer {
    font-size: 13px;
    font-weight: 600;
    color: #aaa
}

.nentte {
    width: 100%;
    height: 2px;
    background-color: hsla(0,0%,100%,.1);
    margin-left: 2px
}

.wrpwr-boxnrj.active .hisdghrjrr {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding-left: 10px;
    height: 50px
}

.rrrjjr {
    display: none
}

.wrpwr-boxnrj.active .rrrjjr {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    height: 50px;
    -webkit-align-items: center;
    align-items: center
}

.bodjr-e:hover {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--main-bg-cool-rgb);
    cursor: pointer
}

.bodjr-e {
    color: #fafafa;
    padding: 5px
}

.bodjr-e.active {
    border-radius: 5px;
    background-color: var(--main-bg-cool-rgb)
}

.wrpwr-boxnrj.active .tjtjr {
    font-size: 30px;
    font-weight: 400;
    display: block;
    text-align: center
}

.wrpar0-that-tabble.active,.wrpwr-boxnrj.active .numbsf-rbrn-name p {
    display: none
}

.wrpar0-that-tabble {
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid var(--main-bg-cool-rgb);
    border-bottom: 1px solid var(--main-bg-cool-rgb)
}

.numbsf-rbrn,.wrpar0-that-tabble {
    color: var(--text);
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.numbsf-rbrn {
    min-width: 50px;
    height: 50px;
    -webkit-justify-content: center;
    justify-content: center;
    font-weight: 700
}

.bold-theicond img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

.wrerjrth {
    display: none
}

.rfhejw,.wreth {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.wreth {
    height: 30px;
    margin-top: 5px
}

.wreth button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    margin: 2px;
    border: 0;
    font-weight: 600;
    color: #fff
}

.wreth button:first-child {
    background-color: #27ae60
}

.wreth button:nth-child(2) {
    background-color: #90ee90
}

.sjoforjekr {
    width: 100%;
    padding-left: 10px;
    font-weight: 600
}

.rrrr,.sjoforjekr {
    height: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center
}

.rrrr {
    color: #191919;
    text-decoration: none
}

.bold-theicond {
    width: 30px;
    height: 30px;
    z-index: 10000
}

.fjhrrej {
    color: #aaa;
    font-weight: 400;
    text-transform: uppercase
}

.numbsf-rbrn-name p {
    margin-left: 10px;
    text-transform: capitalize
}

.numbsf-rbrn-name {
    display: -webkit-flex;
    display: flex;
    min-width: 200px;
    font-weight: 700;
    -webkit-flex-direction: column;
    flex-direction: column
}

.numbsf-rbrn-price {
    min-width: 100px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.numbsf-rbrn-price-vjf img.up {
    -webkit-filter: hue-rotate(85deg) saturate(80%) brightness(.85);
    filter: hue-rotate(85deg) saturate(80%) brightness(.85)
}

.wrpathe-filter-rjrke.active .liasrt {
    color: #191919
}

.wrjdjtjtj {
    margin: 0 auto;
    width: 95%;
    font-weight: 600;
    height: 60px;
    -webkit-align-items: center;
    align-items: center;
    font-size: 20px
}

.wrjdjtjtj,.wrpathe-filter-rjrke {
    display: -webkit-flex;
    display: flex
}

.wrpathe-filter-rjrke {
    cursor: pointer;
    position: absolute;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 200px;
    z-index: 100000000;
    transition: .4s ease;
    border: 1px solid rgba(0,0,0,.2);
    max-height: 40px;
    overflow: hidden;
    border-radius: 3px
}

.fjerjjjfhrne {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    min-height: 40px;
    min-width: 100px
}

.wrpathe-filter-rjrtjtjke.active .liasrt {
    color: #191919
}

.wrpathe-filter-rjrtjtjke.active {
    background-color: #fafafa;
    max-height: 350px
}

.wrpathe-filter-rjrtjtjke {
    cursor: pointer;
    position: absolute;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 130px;
    top: 0;
    transition: .4s ease;
    border: 1px solid hsla(0,0%,100%,.2);
    max-height: 40px;
    overflow: hidden;
    z-index: 10000;
    border-radius: 3px
}

.ren-wefnfn {
    position: relative;
    z-index: 10000000
}

.wrpathe-filter-rjrke.active {
    background-color: #fafafa;
    max-height: 350px;
    overflow: scroll;
    z-index: 100000000000
}

.liasrt:last-child {
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px
}

.fjerjjjne {
    position: relative;
    margin-left: 10px;
    height: 40px;
    z-index: 10000;
    border-radius: 2px
}

.fjerjjjne,.wropairrjr {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

.wropairrjr {
    max-height: 350px;
    overflow: scroll
}

.liasrt {
    min-height: 40px;
    width: 90%;
    padding: 10px;
    z-index: 10000;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 600
}

.numbsf-rbrn-price-vjf img.down {
    -webkit-filter: hue-rotate(300deg) saturate(210%) brightness(.7) contrast(170%);
    filter: hue-rotate(300deg) saturate(210%) brightness(.7) contrast(170%)
}

.numbsf-rbrn-price-vjf img {
    width: 100%;
    object-fit: cover
}

.numbsf-rbrn-price-vjf {
    min-width: 200px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center
}

.side-barrwieir {
    display: none
}

@media only screen and (max-width: 1300px) {
    .holf-sight-upt,.sjoforjek,.tttrtgrg {
        display:none
    }

    .tttrtgrg {
        max-width: 99%
    }

    .fjekj {
        display: none
    }

    .tttrtgrg.active .fkme {
        opacity: 1;
        box-shadow: none;
        background-color: transparent
    }

    .side-barrwieir .tttrtgrg {
        display: block
    }

    .ekjkrn,.side-barrwieir .nam4jrjrj p {
        color: #191919
    }

    .side-barrwieir .tttrtgrg.active {
        background-color: transparent
    }

    .tekktkr {
        color: #191919
    }

    .hjehrjfnnf {
        position: absolute;
        right: 50px;
        height: 100%;
        top: 0
    }

    .hanmber-snjr {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center
    }

    .nam4jrjrj {
        display: none
    }

    .nam4jrjrj.gkejlrfrf {
        display: -webkit-flex;
        display: flex
    }

    .side-barrwieir {
        position: fixed;
        top: 0;
        right: -100%;
        overflow: scroll;
        height: 100vh;
        display: block;
        width: 100%;
        background-color: #fafafa;
        -webkit-flex-direction: column;
        flex-direction: column;
        z-index: 1000000000000000;
        transition: .3s ease
    }

    .side-barrwieir.active {
        right: 0
    }

    .nam4jrrwjrj {
        -webkit-justify-content: center;
        justify-content: center;
        font-weight: 600;
        border-bottom: 1px solid var(--main-bg-cool-rgb)
    }

    .nam4jrrwjrj,.nam4jrrwjrjrr {
        width: 100%;
        height: 50px;
        padding-left: 10px;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center
    }

    .nam4jrrwjrjrr {
        padding-right: 10px;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    .nam4jrrwjrjrr button {
        color: #fafafa!important
    }
}

@media only screen and (max-width: 500px) {
    .nam4jrjrj.gkejlrfrf {
        font-size:20px
    }
}

@media only screen and (max-width: 1250px) {
    .clai-hoxnf-irsojr-djns {
        -webkit-flex-direction:column;
        flex-direction: column
    }

    .bokd0-onjdf {
        width: 100%
    }

    .ho-hfomfk0-boxbjfjfjjf {
        width: 100%;
        margin-top: 120px
    }

    .wrapriro {
        -webkit-flex-direction: column;
        flex-direction: column
    }

    .holf-the-chart,.homs-homkro-fjrf {
        width: 100%
    }
}

/*# sourceMappingURL=main.dca22b12.chunk.css.map */
